{% extends 'base.html'%}

{% block content%}

<main class="container">
    <div class="row ">
            <div class="col-md-4 offset-md-4 text-center ">
                <h1 class="display-4 text-center">{{pelicula.titulo}}</h1>

               

                <div class="mt-5">
                    <form method="POST">
                        {%csrf_token%}
                        {{form.as_p}}
                     
                        <button class="btn btn-success"> Guardar </button>
                   
                    </form>

                    
                    <form action="{% url 'eliminar_pelicula' pelicula.id %}" method="POST">
                        {%csrf_token%}
                    
                        <button class="btn btn-danger pull-right"> Eliminar </button>
                    
                    </form>
                
            </div>
    </div>
</main>

{% endblock %}