{% extends 'base.html'%}

{% block content%}

<main class="container">
    <div class="row">
            <div class="col-md-4 offset-md-4">
                <h1 class="display-4 text-center">{{genero.titulo}}</h1>

               <div class="row">

                <div class="mt-5 text-center">
                    <form method="POST">
                        {%csrf_token%}
                        {{form.as_p}}
                     
                        <button class="btn btn-success"> Guardar </button>
                   
                    </form>

                    
                    <form action="{% url 'eliminar_genero' genero.id %}" method="POST">
                        {%csrf_token%}
                    
                        <button class="btn btn-danger pull-right"> Eliminar </button>
                    
                    </form>
                 
                </div>
            </div>
    </div>
</main>

{% endblock %}