{% extends 'base.html' %}

{% block content %}

<main class="container py-5">
    <section class='card card-body'>
        <h1 class="display-4 text-center">MiCine (Plantilla CRUD creada con DJANGO/Bootstrap)</h1>
        <br>
        <p class="text-center"> Este pagina fue creada para reforzar concoicmientos en programacion orientrada a objetos utilizando el lenguaje Python con el framework Django, ademas de utilizar Bootstrap como herramineta para el diseño de la pagina. </p>
    </seciton>

    
</main>
{% endblock %}